.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    color: black;
    height: 60px;
}

.header-left, .header-right, .header-center {
    width: 33.3333%;
}

.header-left {
    display: flex;
    justify-content: left;
    margin-left: 10px;

}

.header-center {
    display: flex;
    justify-content: center;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.login-button, .signup-button {
    text-decoration: none;
    color: black;
    line-height: 29px;
    width: 75px;
    text-align: center;
    border-radius: 6px;
    
}

.login-button {
    background-color: cadetblue;
    border: solid 3px white;
    margin-right: 5px;
}

.signup-button {
    background: white;
    border: solid 3px rgb(75, 126, 128);
}

.login-button:hover {
    background-color: rgb(75, 126, 128);
}
.signup-button:hover {
    background: rgb(219, 218, 218);
}

.header-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    // font-family: Bradley Hand, cursive
}

.header-link > p {
    // margin: 5px;
}

.header-link :hover {
    // text-decoration: underline;
    cursor: pointer;
}

.header-logo {
    height: 40px;
    width: 40px;
    margin: 5px;
}

.header-greeting {
    display: flex;
    align-items: center;
}

.header-session-button, .header-link {
    margin: 5px;
    cursor: pointer;
}