.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    color: black;
    height: 60px;
}

.header-left, .header-right, .header-center {
    width: 33.3333%;
}

.header-left {
    display: flex;
    justify-content: left;
    margin-left: 10px;

}

.header-center {
    display: flex;
    justify-content: center;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.login-button, .signup-button {
    text-decoration: none;
    color: black;
    line-height: 29px;
    width: 75px;
    text-align: center;
    border-radius: 6px;
    
}

.login-button {
    // background-color: rgb(116, 194, 197);
    // border: solid 2px white;
    margin-right: 5px;
}

.signup-button, .login-button {
    background: white;
    border: solid 2px rgb(116, 194, 197);
}

// .login-button:hover {
//     background-color: white;
//     border: solid 2px rgb(116, 194, 197);

// }
.signup-button:hover, .login-button:hover {
    background: rgb(116, 194, 197);
    border: solid 2px white;

}

.header-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    // font-family: Bradley Hand, cursive
}

.header-link > p {
    // margin: 5px;
}

.header-link :hover {
    // text-decoration: underline;
    cursor: pointer;
}

.header-logo {
    height: 40px;
    width: 40px;
    margin: 5px;
}

.header-greeting {
    display: flex;
    align-items: center;
}

.header-session-button, .header-link {
    margin: 5px;
    cursor: pointer;
}

.user-icon {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    background-image: image-url('user_icon.png');
    background-size: contain;
}

.user-dropdown {
    // display: none;
    position: absolute;
    top: 53px;
    border: 2px solid gray;
    border-radius: 6px;
    padding: 5px;
    font-size: 18px;
    background-color: white;
}

.user-dropdown-show {
    display: block;
}


