.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:absolute;
    z-index: 10;
    // top: 100px;
    background-color: rgba(0, 0, 0, .25);
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.modal-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: lightgray;
    border: solid 2px gray;
    border-radius: 6px;
    min-height: 200px;
    min-width: 250px;
}

.login-or-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 10px 10px 10px;
    border: 2px solid gray;
    border-radius: 6px;
    padding: 5px;
}

.login-or-signup p {
    margin: 5px;
}

.login-or-signup-input {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}