.profile-main {
    display: flex;
    flex-direction: column;
}

.user-details {
    display: flex;
    border: 2px blue solid;
    margin: 5px;

}

.user-image {
    border: 2px solid red;

    border-radius: 50%;
    height: 200px;
    min-width: 200px;
    margin: 5px;
    padding: 5px;
    background-image: image-url('standin-image.jpg');
    background-size: cover;
    background-position: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    border: 2px solid red;
    margin: 5px;
    padding: 5px;
}

.user-name {   
    font-size: 28px;
    font-weight: bold;
}

.user-title {

}

.user-affilates {

}

.user-content {
    display: flex;
    // flex-direction: column;
    border: 2px blue solid;
    margin: 5px;
}

.user-repertoire, .user-posts {
    width: 50%;
    border: 2px solid red;
    margin: 5px;

}

.user-audio, .user-video {
    border: solid yellow 2px;
    margin: 5px;
    padding: 5px;

}

.user-content-header {
    font-size: 20px;
    font-weight: bold;
}

.user-video-grid, .user-audio-grid {
    height: 200px;
    overflow-y: auto;
    border: 2px solid green;
    margin: 5px;
}

.user-posts-grid {
    overflow-y: auto;
    border: 2px solid green;
    margin: 5px;
    height: 600px;
}

.audio-file, .video-file {
    margin: 5px 5px 0 5px;
    height: 40px;
    // width: 40px;
    border: 2px solid purple;
    padding: 5px;

}

.post {
    margin: 5px 5px 0 5px;
    height: 100px;
    border: 2px solid purple;
    padding: 5px;
}