.post-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 6px;
    border: solid 2px cadetblue;
    width: 225px;
    background-color: whitesmoke;

}

.post-form {
    margin: 10px;
}

.post-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 6px;
    border: solid 2px cadetblue;
    width: 225px;
    background-color: whitesmoke;
    list-style: disc;
}

.post-item {
    margin: 10px;
    border: none;
    width: 80%;
    height: 50px;
}

.post-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 6px;
    border: solid 2px cadetblue;
    width: 225px;
    background-color: whitesmoke;
}

.post-show p {
    margin-bottom: 10px;
}

.posts-link {
    margin-bottom: 10px;
}
